h2 {
  text-align: center;
  padding-top: 20px;
}

body {
  margin: 0;
}

.transactions {
  > table > thead > tr > th:first-child {
    width: 30%!important;
  }
  > table > tbody > tr > td:first-child {
    width: 30%!important;
  }
}

@media screen and (max-width: 720px) {
}